/* CSS Document */

	body, table{
		color:#000000;
		font-family:Arial;
		font-size:14px;
	}
	table h1{
		font-weight:bold;
		font-family:Arial;
		font-size:16px;
	}	
	#contenido_documento p{
		margin: 3px auto 3px auto;
	}
	#contenedor{
		margin-top:85px;
	}
	#imprimir{
		display:none;
	}
	.firma{
		font-size:11px;
	}
